:root {
  --acapulco: #81b29a;
  --alabaster: #fafafa;
  --athens-gray: #ebebee;
  --black: #000;
  --floral-white: #faf9f0;
  --geyser: #dee2e6;
  --gin: #e5efea;
  --gun-powder: #3d405b;
  --linen: #fbf1ee;
  --manhattan: #f2cc8f;
  --merino: #f4f1de;
  --terracotta: #d85531;
  --white: #fff;

  /* Nuevos */

  --dingley: #68774f;
  --lunar-green: #354335;
  --gimblet: #b0ab66;
  --salomie: #ffdb83;

  /* #437373, #A4B43E --> aún no registrado */
}
